@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

::-moz-selection {
    /* Code for Firefox */
    color: #000;
    background: #6c757d;
}

::selection {
    color: #000;
    background: #6c757d;
}

body {
    height: 100vh;
    background: #000;
    color: #6c757d;
}

main.container {
    max-width: 600px;
}
